.modal {
    position: fixed;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    transition: all 0.4s ease;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 2rem;
    border-radius: 0.5rem;
    background: var(--bg-color);
    position: relative;
    width: 25rem;
}

.opened {
    opacity: 1;
    pointer-events: auto;
    z-index: var(--modal-z-index);
}

.closeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
}
