.button {
	cursor: pointer;

	&:hover {
        opacity: .8;
    }
}

.clear_inverted {
	color: var(--inverted-primary-color);
}

.clear,
.clear_inverted {
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	outline: none;
    transition: opacity .3s ease;

	&:active {
		color: var(--inverted-primary-color);
	}
}


.outline {
	padding: 0.5rem;
	border: var(--primary-color) 1px solid;
	background: none;
	color: var(--primary-color);
}

.outline_red {
	padding: 0.5rem;
	border: var(--red-light) 1px solid;
	background: none;
	color: var(--red-light);
}

.small {
	padding: 0.5rem;
}

.medium {
	padding: 1rem;
}

.large {
	padding: 1.5rem;
}

.background {
	background: var(--bg-color);
	color: var(--primary-color);
	border: none;
}

.background_inverted {
	background: var(--inverted);
	color: var(--inverted-primary-color);
	border: none;
}

.disabled {
	opacity: .5;
}