.ListBox {
    position: relative;
}

.wrapper {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.trigger {
    padding: 0.5rem;
    border: var(--primary-color) 1px solid;
    background: none;
    color: var(--primary-color);
}

.options {
    background: var(--card-bg-color);
    position: absolute;
    z-index: 10000;
    border-radius: 12px;
    box-shadow: 4px 4px 8px var(--card-bg-color);
}

.item {
    padding: 10px 20px;
}

.focus {
    background: var(--inverted-primary-color);
}

.selected {
    background: var(--inverted-secondary-color);
}

.disabled {
    opacity: 0.7;
}

.optionsTop {
    bottom: 100%;
}

.optionsBottom {
    top: 100%;
}

.optionsTopLeft {
    bottom: 100%;
    left: 0;
}

.optionsTopRight {
    bottom: 100%;
    right: 0;
}

.optionsBottomLeft {
    top: 100%;
    left: 0;
}

.optionsBottomRight {
    top: 100%;
    right: 0;
}
