.app.dark {
    --bg-color: #1E1E1E;
    --primary-color: #ebf1f1;
    --secondary-color: #858484;
    --inverted: #ebf1f1;
    --inverted-primary-color: #018786;
	--inverted-secondary-color: #66c3cf;
    --skeleton-color: #a8a8a8;
    --skeleton-shadow: #858484;
    --code-bg-color: #2b2b2b;
}