.app.dark {
    --bg-color: #1E1E1E;
    --primary-color: #ebf1f1;
    --secondary-color: #cf6679;

    --inverted: #ebf1f1;
    --inverted-primary-color: #018786;
	--inverted-secondary-color: #cf6679;
}