.app.light {
	--bg-color: #ebf1f1;
	--primary-color: #018786;
	--secondary-color: #858484;
	--inverted: #1e1e1e;
	--inverted-primary-color: #ebf1f1;
	--inverted-secondary-color: #66becf;
	--skeleton-color: #b8b8b8;
    --skeleton-shadow: #8e8d8d;
	--code-bg-color: #f5f5f5;
}
