.app.user {
    --bg-color: #469597;
    --primary-color: #DDBEAA;
    --secondary-color: #6BB77B;
    --inverted: #dfe5e6;
    --inverted-primary-color: #5BA199;
	--inverted-secondary-color: #BBC6C8;
    --skeleton-color: #b8b8b8;
    --skeleton-shadow: #8e8d8d;
}