.trigger {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.wrapper {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.options {
    position: absolute;
    z-index: 10000;
    border-radius: 12px;
    box-shadow: 4px 4px 8px var(--listbox-bg);
    background: var(--secondary-color);
    overflow: hidden;
}

.item {
    padding: 10px 20px;
}
