.Dropdown {
    position: relative;
    height: fit-content;
}

.btn,
.item {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    margin: 0;
    cursor: pointer;
}

.menu {
    position: absolute;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    background: var(--secondary-color);
    border: 1px solid var(--inverted-primary-color);
    border-radius: 6px;
}

.focus,
.active {
    background: var(--inverted-primary-color);
}

.item:hover {
    background: var(--inverted-primary-color);
}

.disabled {
    pointer-events: none;
    opacity: 0.7;
}

.optionsTop {
    bottom: 100%;
}

.optionsBottom {
    top: 100%;
}

.optionsTopLeft {
    bottom: 100%;
    left: 0;
}

.optionsTopRight {
    bottom: 100%;
    right: 0;
}

.optionsBottomLeft {
    top: 100%;
    left: 0;
}

.optionsBottomRight {
    top: 100%;
    right: 0;
}
