.link {
	transition: color 0.2s ease-in-out;
	text-decoration: none;
}

.primary {
	color: var(--primary-color);

	&:hover {
		color: var(--secondary-color);
	}

	&:active {
		color: var(--secondary-color);
		opacity: 0.5;
	}
}

.secondary {
	color: var(--inverted-primary-color);

	&:hover {
		color: var(--inverted-secondary-color);
	}

	&:active {
		color: var(--inverted-secondary-color);
		opacity: 0.5;
	}
}
